$button-border-radius: 2px;

.#{$ns}-button {
	margin: 3px 5px;
	display: inline-block;
	border: none;
	border-radius: $button-border-radius;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	color: $color-white;
	background: $color-blue;
	border: 0 solid $color-grey;
	border-bottom-width: 2px;
	border-color: rgba(0,0,0,.25);
	padding: 5px 20px;
	text-shadow: 0 1px 1px  rgba(0,0,0,.2);
	font: bold $font-size-button-medium $font-family;
	vertical-align: middle; /* unsure if this is needed */
	-webkit-appearance: none;
}


.#{$ns}-button--primary {
	color: $color-white;
	background-color: $color-blue;
}
	.#{$ns}-button--primary:hover {
		background-color: #177edf;
	}
	.#{$ns}-button--primary:active {
		background-color: $color-blue;
		box-shadow: none;
	}


.#{$ns}-button--action {
	color: $color-white;
	background-color: $color-green;
}
	.#{$ns}-button--action:hover {
		background-color: #53af43;
	}
	.#{$ns}-button--action:active {
		background-color: $color-green;
		box-shadow: none;
	}


.#{$ns}-button--outline-grey {
	background-color: $color-white;
	color: $color-grey-dark;
	border: 1px solid $color-grey-dark;
	border-radius: $button-border-radius;
	font-size: $font-size-button-medium;
	text-shadow: none;
}
	.#{$ns}-button--outline-grey:hover {
		background-color: $color-grey-light;
	}

.#{$ns}-button--large {
	padding-left: 26px;
	padding-right: 26px;
	font-size: $font-size-button-large;
}

.#{$ns}-button--small {
	padding-left: 17px;
	padding-right: 17px;
	font-size: $font-size-button-small;
}

.#{$ns}-button:disabled {
	color: $color-grey-light;
	background: $color-grey-medlight;
	border: none;
	text-shadow: none;
}

.#{$ns}-unstyledbutton,
.#{$ns}-iconbutton {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: $font-size-button-medium;
	margin: 0;
	padding: 0;
}

.#{$ns}-iconbutton {
	color: $color-grey-dark;
}
	.#{$ns}-iconbutton:hover {
		color: $color-grey-light;
	}

	.#{$ns}-iconbutton:focus {
		background: rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		outline: none;
	}

.#{$ns}-iconbutton--small {
	font-size: $font-size-button-small;
	line-height: 18px;
	width: 18px;
}

.#{$ns}-iconbutton--large {
	font-size: $font-size-button-large;
	line-height: 32px;
	width: 32px;
}
