@mixin input-border {
	border-radius: $border-radius;
	box-shadow: inset 1px 1px 2px #ccc;
	border: 1px solid $color-grey-med;;
}
@mixin input-label {
	color: $color-grey-dark;
	font-weight: bold;
	margin-bottom: 3px;
	
	/* see .bd-label */
	display: block;
}

@mixin input-field {
	@include input-border;
	height: 2rem;
	background-color: $color-white;
	color: $color-grey-dark;
	padding-left: 0.25rem;
}

// disable browsers default focus outlining
input:focus {
	outline: none;
}

// Hide spinners from number inputs
input[type=number] {
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

.#{$ns}-required-field {
	margin-left: 3px;
	color: $color-red;
	font-weight: bold;
}

.#{$ns}-optional-field {
	margin-left: 3px;
	color: $color-grey-med;
	font-weight: normal;
	font-style: italic;
}

.#{$ns}-form--error-message {
	display: none;
	margin-left: 3px;
	color: $color-red;
	font-weight: bold;
	vertical-align: middle;
}
.#{$ns}-invalid-input ~ .#{$ns}-form--error-message {
	display: inline-block;
}


@import '_buttons';
@import '_labels';
@import '_progress';
@import '_form.checkboxes';
@import '_form.selects';
@import '_form.fileuploads';
@import '_form.textinputs';
@import '_form.radiogroups';
@import '_form.numberinputs';


// this needs to be after elements for cascade to work
.#{$ns}-invalid-input{
	border: 1px solid $color-red;
	color: $color-red;
	vertical-align: middle;
}
