$color-black: #000;
$color-white: #fff;

$color-blue: #006DD4;

$color-red: #D30000;
$color-green: #43A332;

$color-grey-light: #F1F1F1;
$color-grey-medlight: #DDDDDD;
$color-grey-med: #BBBBBB;
$color-grey: #666666;
$color-grey-dark: #444444;

$color-text-default: $color-grey-dark;
$color-text-placeholder: #888888;
$color-text-error: #D30000;
$color-text-inverted: $color-white;
$color-text-link: $color-blue;
