$font-family: "Lato", Arial, sans-serif;

$font-size-headline2: 39px; // 2.441em
$font-size-headline1: 31px; // 1.953em

$font-size-h1: 25px; // 1.563em
$font-size-h2: 13px; // 1.25em

$font-size-body: 13px; // 0.83m
$font-size-body2: 1rem; // 1em

$font-size-caption: 11px; // 0.64em

$font-size-button-large: 22px;
$font-size-button-medium: $font-size-body2;
$font-size-button-small: $font-size-body;

// $line-height: 24px;
